@using CoinSaver
@model CoinSaver.Models.MainViewModels.PurchaseSupplyVM

<div class="panel panel-default">
        <ul class="nav nav-tabs">
            <li class="panel-title bigTab"><a id ="spendingTitle" class="alert-danger" href="#spending" data-toggle="tab">Покупку</a></li>
            <li class="panel-title bigTab"><a id ="supplyTitle" class="alert-success" href="#supply" data-toggle="tab">Поступление</a></li>
        </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="spending">
            <div class="panel-body alert-danger">
                <form class="navbar-form" asp-action="AddPurchase">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input class="form-control" asp-for="Purchase.PurchaseName" placeholder="Название" />
                    <input class="form-control" asp-for="Purchase.Value" placeholder="Цена" value="" />
                    <select class="form-control" asp-for="Purchase.Reason" asp-items="@Html.GetEnumSelectList<CoinSaver.Models.PurchaseReason>()"></select>
                    <select class="form-control" data-val="true" data-val-range="Укажите категорию" data-val-range-min="0" name="Purchase.Category" id="Purchase_Category">
                        @foreach (var el in @Html.GetEnumSelectListIntValues<CoinSaver.Models.PurchaseCategory>())
                        {

                            if (el.Selected)
                            {
                                <option value="@el.Value" selected="selected">@el.Text</option>
                            }
                            else
                            {
                                <option value="@el.Value">@el.Text</option>
                            }
                        }
                    </select>
                    <button class="btn btn-danger" type="submit">Добавить</button>
                </form>
            </div>
        </div>
        <div class="tab-pane" id="supply">
            <div class="panel-body alert-success">
                <form class="navbar-form" asp-action="AddSupply">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input class="form-control" asp-for="Supply.SupplyName" placeholder="Название" />
                    <input class="form-control" asp-for="Supply.Value" placeholder="Величина" value="" />
                    <button class="btn btn-success" type="submit">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>



