@model CoinSaver.Models.IndexViewModel
@{
    ViewData["Title"] = "Добавить";
}
<h1>@ViewData["Title"]</h1>
<div class="page-header">
    @Html.Partial("AddSpending", new CoinSaver.Models.Purchase())
</div>
<div class="row">
    <p>Последние @Model.PurchasesTable.Purchases.Count покупок:</p>
    @Html.Partial("SpendingsTable", @Model.PurchasesTable)
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}