@model CoinSaver.Models.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null)
{
    @Html.Partial("AddSpending", new CoinSaver.Models.PurName { Name = Model.Name })
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Дата</th>
                        <th>Причина</th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 1;
                    }
                    @foreach (var p in Model.Purchases.OrderByDescending(x => x.date))
                    {
                        <tr>
                            <td>@i</td>
                            <td>@p.purshaseName</td>
                            <td>@p.price</td>
                            <td>@p.date</td>
                            <td>@p.reason</td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    @Html.Partial("EnterName", new CoinSaver.Models.EnteredName());
}
