@model CoinSaver.Models.MainViewModels.PurchasesTableVM
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Дата</th>
                <th>Причина</th>
                @if (Model.ShowCategoryColumn)
                {
                    <th>Категория</th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var p in Model.Purchases.OrderByDescending(x => x.Date))
            {
                <tr>
                    <td>@i</td>
                    <td>@p.PurchaseName</td>
                    <td>@p.Price</td>
                    <td>@p.Date.ToString("dd.MM.yy")</td>
                    <td>@p.Reason.EnumDisplayNameFor()</td>
                    @if (Model.ShowCategoryColumn)
                    {
                        <td class="@p.Category-clr">@p.Category.EnumDisplayNameFor()</td>
                    }
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>