@model CoinSaver.Models.StatVM
@{
    ViewData["Title"] = "Статистика";
}
<div class="page-header">
    <div class="panel panel-default row">
        <div class="panel-heading">
            <h3 class="panel-title">Общие траты для @Model.Name</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive ">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Всего потрачено:</td>
                            <td>@Model.TotalSpend</td>
                        </tr>
                        <tr>
                            <td>Общее количество трат:</td>
                            <td>@Model.TotalPurchases</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<ul class="list-group">
    @foreach (var kvp in Model.PurchasesByCategory)
    {
        <li class="list-group-item" style="background-color:@kvp.Key.EnumColorFor()">
            @kvp.Key.EnumDisplayNameFor() Покупок: @kvp.Value.Count Всего потрачено: @kvp.Value.Summ
        </li>
    }

</ul>
<div class="progress">
    @foreach (var p in Model.ProgressBarPercentage)
    {
        <div class="progress-bar" style="width: @p.Value%; background-color: @p.Key.EnumColorFor()"></div>
    }
</div>