@model CoinSaver.Models.StatVM
@{
    ViewData["Title"] = "Статистика";
}
<h1>@ViewData["Title"]</h1>
<div class="page-header">
    <div class="panel panel-default row">
        <div class="panel-heading">
            <h3 class="panel-title">
                <strong>@ViewData["Name"]</strong>, ваши траты за
                @if (Model.Period != null && Model.Period.IsActive)
                {
                    <span>@Model.Period.Start.ToString("dd.MM.yy") - @Model.Period.End.ToString("dd.MM.yy")</span>
                }
                else
                {
                    <span>все время</span>
                }
            </h3>
        </div>
        <div class="panel-body">
            <div>
                @Html.Partial("PeriodFilter", Model.Period)
            </div>
            <div class="table-responsive ">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Всего потрачено:</td>
                            <td>@Model.TotalSpend</td>
                        </tr>
                        <tr>
                            <td>Общее количество покупок:</td>
                            <td>@Model.TotalPurchases</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@if (Model.PurchasesByCategory != null)
{
    <h2>Покупки</h2>
    <div class="table-hover row">
        <table class="table table-responsive">
            <tbody>
                <tr>
                    <th>Категория</th>
                    <th>Покупок</th>
                    <th>Потрачено</th>
                    <th></th>
                </tr>
                <tr>
                    <td style="width:5%">
                        <button class="btn" style="font-size:110%; background-color:#fff" onclick="getHistoryFor('All','Все')">
                            Все
                        </button>
                    </td>
                    <td style="width:5%">@Model.TotalPurchases</td>
                    <td style="width:5%">@Model.TotalSpend</td>
                    <td>
                        <div class="progress">
                            @foreach (var p in Model.PurchasesByCategory)
                            {
                                <div class="progress-bar @p.Key-clr" style="width: @p.Value.HistPerc%;" alt="@p.Key.EnumDisplayNameFor()"></div>
                            }
                        </div>
                    </td>
                </tr>
                @foreach (var p in Model.PurchasesByCategory)
                {
                    <tr>
                        <td style="width:5%">
                            <button class="btn @p.Key-clr" style="font-size:110%;color:#000;" onclick="getHistoryFor('@p.Key','@p.Key.EnumDisplayNameFor()')">
                                @p.Key.EnumDisplayNameFor()
                            </button>
                        </td>
                        <td style="width:5%">@p.Value.Count</td>
                        <td style="width:5%">@p.Value.Summ</td>
                        <td>
                            <div class="progress" style="width: @p.Value.HistPerc%">
                                <div class="progress-bar @p.Key-clr" style="width: 100%"></div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="history" class="panel panel-default row">

        <div class="panel-heading">
            <div id="historyHeader">
                <div class="dropdown panel-title">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                        <span id="currentCat">История покупок</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);" onclick="getHistoryFor('All','Все')">Все</a></li>
                        @foreach (var p in Model.PurchasesByCategory)
                        {
                            var name = p.Key.EnumDisplayNameFor();
                            <li><a class="@p.Key-clr" href="javascript:void(0);" onclick="getHistoryFor('@p.Key','@name')">@name</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div id="purchaseHistory"></div>
        </div>
    </div>
}
else
{
    <h3>Пока анализировать нечего :(</h3>
}


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}